body{
    margin: 0;
}
.background-img{
    background-image: url(images/pexels-lukas-574070.jpg);
    background-size: cover;
    padding: 5% 25% 45% 10%;
}
.background-img-two{
    background-image: linear-gradient(#FAD397,black);
    padding-left: 50%;
    padding-bottom: 10%;
    padding-top: 2%;
    padding-right: 2%;
    
}

div{
    margin-right: 30%;
}
.background-img-three{
    background-image: url(images/pexels-iconcom-220618.jpg);
    background-size: cover;
    padding: 10% 0 40% 45%;


}
.never{
    color: #FAD397;
    margin-left: 40%;
    margin-right: 5%;
}
.background-img-four{
    background-image: linear-gradient(black,red);
    padding: 10%;
}
.container{
    display: flex;
    background-color: black;
}
.half-width{
    width: 50%;
    color: darksalmon;
    padding-left: 5%;
    padding-top: 5%;
    margin-bottom: 0;
    margin-right: 0;
}
.half-width img{
    width: 70%;
    margin-left: 10%;
    margin-top: 0;
}
.mgn{
    margin-top: 50%;
    margin-bottom: 5%;
}